// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about {
 flex-direction: column
}

.about h1 {
  font-size: 70px;
}

.about p {
  font-size: 20px;
}

.genre-search {
  text-decoration: none;
  color: gray;
}

.backimage-text {
  padding-left: 20px;
}

.backimage {
  position: relative;
}

.text {
  color: white;
  position: absolute;
  top: 150px;
  left: 400px;
}
