// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item {
  margin-left: 50px;
}

.price {
  margin-top: 100px;
}

.price span {
  font-size: 15px;
}
