// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order-new-title {
  margin-left: 40px;
}


.anime-box .OneTextAnime{
	display: flex;
	overflow: hidden;
	color: #aa8f7b;
}

.anime-box .OneTextAnime span{
	opacity: 0;
	animation: onetxtanime 1s forwards;
}

.anime-box .OneTextAnime span:nth-child(1){animation-delay: 0.1s}
.anime-box .OneTextAnime span:nth-child(2){animation-delay: 0.3s}
.anime-box .OneTextAnime span:nth-child(3){animation-delay: 0.5s}
.anime-box .OneTextAnime span:nth-child(4){animation-delay: 0.7s}
.anime-box .OneTextAnime span:nth-child(5){animation-delay: 1.1s}
.anime-box .OneTextAnime span:nth-child(6){animation-delay: 1.3s}
.anime-box .OneTextAnime span:nth-child(7){animation-delay: 1.5s}
.anime-box .OneTextAnime span:nth-child(8){animation-delay: 1.7s}
.anime-box .OneTextAnime span:nth-child(9){animation-delay: 1.9s}
.anime-box .OneTextAnime span:nth-child(10){animation-delay: 2.1s}
.anime-box .OneTextAnime span:nth-child(11){animation-delay: 2.3s}
.anime-box .OneTextAnime span:nth-child(12){animation-delay: 2.5s}
.anime-box .OneTextAnime span:nth-child(13){animation-delay: 2.7s}
.anime-box .OneTextAnime span:nth-child(14){animation-delay: 2.9s}
.anime-box .OneTextAnime span:nth-child(15){animation-delay: 3.1s}
.anime-box .OneTextAnime span:nth-child(16){animation-delay: 3.3s}


@keyframes onetxtanime{
	from { opacity: 0 }
	to { opacity: 1 }
}