<div class="card mb-3", style="max-width: 18rem; background-color: rgba(60, 42, 33, 0.5); color: #E5E5CB">
<div class="card-header", style="background-color: #3C2A21;">ジャンル検索</div>
 <div class="card-body" style="background-color: #D5CEA3;">
  <% genres.each do |genre| %>
   <p><%= link_to "#{genre.name}", genre_search_path(genre), class: 'genre-search' %></p>
  <% end %>
 </div>
</div>