<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
<div class="card-header">ジャンル検索</div>
 <div class="card-body">
  <% genres.each do |genre| %>
   <p><%= link_to "#{genre.name}", genre_search_path(genre), class: 'genre-search' %></p>
  <% end %>
 </div>
</div>