<div class="container about d-flex align-items-center justify-content-center mt-5">
  <div class="row mb-4">
   <h1><strong>About</strong></h1>
  </div>
  <div class="row text-center mb-4">
   <p>ながのcakeは全国発送可能なケーキ屋さんです。<br>お子様からお年寄りの方までお召し上がりいただけるよう、<br>様々なバリエーションをご用意しております。<br>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>ぜひご注文ください</p>
  </div>
  <div class="row">
   <%= image_tag 'イメージ.jpg', size: '1200x400', class: 'image rounded-image' %>
  </div>
</div>
