<div class="container">
  <div class="row">
   <div class="col-md-8">
    <table class="table table-hover table-inverse">
      <thead class="table-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%# @cart_items.each do |f| %>
        <tr>
          <td><%#= f.get_image(100,100) %> <%#= f.name %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%# end %>
      </tbody>
    </table>
   </div>
  </div>
</div>
