<div class="anime-box">
	<div class="OneTextAnime">
	 <h1>
	  <span>ご</span>
		<span>注</span>
		<span>文</span>
		<span>&nbsp;</span>
		<span>あ</span>
		<span>り</span>
		<span>が</span>
		<span>と</span>
		<span>う</span>
		<span>ご</span>
		<span>ざ</span>
		<span>い</span>
		<span>ま</span>
		<span>し</span>
		<span>た</span>
		<span>🍰</span>
	 </h1>
	</div>
</div>


